body{
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
    height:100%;
    /* overflow:hidden; */
}

#firstPart{
    background-image: url('../image/1x/FirstSection/Bg1.png');
    /* position:fiexed; */
    top: 0;
    left: 0;
    width:100%;
    height: 100vh;
    background-size: cover;
    z-index:-1;
    overflow: hidden;
}

nav{
    display:flex;
    justify-content: space-evenly;
}

#logo{
    padding-top:1rem;
    height: 4rem;
}

ul{
    list-style: none;
    color: white;
    margin-left: -12rem;
}

nav ul li{
    display: inline-block;
    padding:1.6rem;   
}

#login{
    background-color: transparent;
    border: 1.6px solid white;
    color:white;
    border-radius: 16px;
    /* padding:10px 24px; */
    width: 5rem;
    height: 2rem;
    cursor:pointer;
    margin-top: 2.3rem;
    margin-left:-10rem;
}

#title1{
    position: absolute;
    top:28%;
    left:47%;
    transform: translate(-40%,-40%);
    text-align: center;
    font-size: 36px;
    color:white;
    font-weight: bold;
}

#title2{
    position: absolute;
    top:36.6%;
    left:48%;
    transform: translate(-40%,-40%);
    text-align: center;
    font-size: 22.4px;
    color:white;
}

.footer1{
    position: absolute;
    bottom: 8%;
    width: 90%;
    margin-left:4%;
}

#horizontal-line{
    border-top: 1px solid white;
    width: 100%;
    margin-left: 0.8rem;
    
}

#topfooter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#topfooter p{
    color:white;
    
    margin-bottom: -0.8rem;
    padding-bottom: 6.4px; 
    transform: scale(0.6);

}

.moveright1{
    margin-left: 2rem;
}


.footer p{
    font-size: 9.6px;
}

#movemiddle{
    margin-right: 8rem;
    padding-right: 6.4rem;
    position: relative; 
    z-index: 2;
}

.middleTopText{
    margin-top: -1rem;
    margin-bottom: -1.6rem;
    margin-left: -4rem;
}

.middleTopText p{
    font-size: 11px;
    font-weight: bold;
}

#worldmap{
    height: 4.5rem;
    position: absolute;
    bottom:8%;
    left: 51%;
    transform: translateX(-40%);
    z-index: 1;
}

.textsize1{
    height: 8.8px;
}

#leftTopText{
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
    margin-left: -4.8rem;
    margin-bottom: 0.8rem;
}

#leftTopText p{
    padding-bottom: 4px;
}

#smalltext{
    font-size: 8px;
}

.textsize2{
    height: 9.6px;
    align-self: flex-start;
    padding-top: 4px;
}

#bottomleftText p{
    color:white;
    margin-top: 0;
    margin-bottom: 4px;
}


#rightTopText{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-right: -2rem;
    margin-bottom: 0.8rem;
}

#rightTopText p{
    padding: 2px;
    margin-top:1px;
}

.bottomfooter{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.7rem; 
}

.bottomfooter p{
    color:white;
    font-size: 10px;
    font-weight: bold;
}


#bottommiddleText{
    margin-top: -1.6rem;
    margin-left: -5rem;
}

#bottommiddleText p{
    font-size: 6px;
}



.bottomfooter button{
    background-color: transparent;
    border: 1.6px solid white;
    color:white;
    border-radius: 16px;
    padding:1px 16px;
    cursor:pointer;
    height: 2rem;
    font-size: 11px;
}

/* second section */
#AboutUs{
    background-color: white;
    /* overflow: hidden; */
    background-size: 80% cover;
    height: 18.4rem;
    
}

#container{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BigHouselogo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9.5rem;
    z-index: 0;
    margin-bottom: -36rem;
    padding:0;
    width: 80%;
}

#BigLogo{
    height: 32rem;
    margin-top: 1.6rem;
    z-index:1;
}

#container h1{
    color:black;
    z-index:2;
    font-size: 2.4rem;
    margin-top: 10.4rem;
}

#line1{
    border-bottom: 1.6px solid #A5A5A5;
    padding:20px;
    position:relative;
    z-index:2;
    top:9.6rem;
}

.AboutUsText{
    z-index:2;
    font-size: 12.5px;
    margin-top: 0.5rem;
    color: #666666;
}

.Chess{
    height: 8.8rem;
    z-index:2;
    margin-top: 1.6rem;
}

.Texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:2;
    margin-top: -3.2rem;
}

.Texts p{
    font-size: 6px !important;
    color: #B2B2B2 !important;
    margin-bottom: 0;
    padding-bottom: 1.6px;
    margin-top:0;
}

.gap{
    padding-top:0.4rem;
}

.textsize{
    font-size: 4px !important;
}

/* third section  */
#政府引才{
    background-image: url("../image/1x/ThirdSection/Govbg.png");
    height: 67vh;
    background-size: cover;
    z-index:-1;
    margin-top:24rem;
}

#Govcontainer{
    display: flex;
    margin-top: 3.2rem;
    margin-left: 8rem;
    gap:1.6rem;
}

#line2{
    border-bottom: 1.6px solid #A5A5A5;
    padding:20px;
    position:relative;
    z-index:2;
    width: 8px;
}

#GovcontainerLeft h1{
    font-size: 2.4rem;
}

#GovcontainerLeft p{
    font-size: 12.5px;
    color: #666666;
}

#Carousel1{
    height: 28rem;
    z-index: 1;
    margin-left: -10rem;
}

#YaoPingimg{
    margin-left: -8rem;
    margin-top: 2.5rem;
    height: 12rem;
    padding:0;
    z-index:0;
}

/* fourth section */
#合作组织{
    background-color: white;
    height: 95vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#line3{
    border-bottom: 3.2px solid #A5A5A5;
    padding:24px;
    width: 8px;
    z-index:2;
    margin-top: 4rem;
    margin-bottom: -1rem;
}

#合作组织 h1{
    font-size: 2.4rem;
}

#合作组织 p{
    font-size: 12.5px;
    margin-top: 0;
    color: #666666;
}

.Coop-logos{
    display: flex;
    flex-wrap: wrap;
    margin-left: 7rem;
    width:80%;
    align-items: center;
    justify-content: space-between;
    padding-top:4rem;
    padding-bottom:9.6rem;
}

.logo {
    width: 20%; 
    margin-bottom: 8px; 
}

.logo img {
    height: 80%;
    width: 48%;
}

.resizeLogo{
    width: 24% !important;
    /* height: 50% !important; */
    padding-left: 2rem;
}

/* fifth section */

#曜聘服务{
    background-image: url("../image/1x/FifthSection/4thBg.png");
    height: 90vh;
    background-size: cover;
    z-index:-1;
}

#line4{
    border-bottom: 2px solid #A5A5A5;
    padding:20px;
    position:relative;
    z-index:2;
    width: 8px;
}

.FourthText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.FourthText h1{
    font-size: 2.4rem;
    margin-top: 0.8rem;
    margin-bottom: 1.2rem;
    z-index:2;
}

.FourthText p{
    font-size: 12px;
    margin-top: 0.24rem;
    z-index:2;
    color: #666666;
}

#YAOPING2{
    height: 9.6rem;
    width: 48%;
    z-index: 1;
    position: relative;
    top:-8rem;
}

.FourServices{
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
    margin-top: -6.4rem;
}

.Service{
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 20%;
    height: 21.6rem;
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.Service h2{
    font-size: 20px;
}

.Service img{
    height: 10.4rem;
    margin-top:-2rem;
    margin-bottom: -4rem;
}

.Service p{
    font-size: 12.5px;
    color: #3f3c3c;
    font-weight: bold;
    margin-top: 0.1rem;
}

#Chess1{
    height: 43%;
    margin-bottom: -2.77rem;
}

.gradient-line {
    width: 48%; 
    height: 1.6px; 
    background: linear-gradient(to right, white, black, white); /* 从左到右的渐变 */
}

.Service h2{
    font-size: 1.6rem;
}

.Service p{
    margin-top: 0.56rem;
    color: #666666;
}

/* sixth section */
#客户反馈{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
}

#客户反馈 > p{
    font-size: 13px;
    color:#3a3737;
    margin-top:0;
}

#客户反馈 p{
    z-index:2;
}

#客户反馈 h1{
    font-size: 2.4rem;
    z-index:2;
}

#YAOPING3{
    width: 56rem;
    height: 12rem;
    margin-top:2.4rem;
    z-index:0;
}

.customer h3{
    font-size: 12px;
}

.customer p{
    font-size: 11px;
    color: #666666;
}

.FeedbackContainer{
    display: flex;
    justify-content: space-between;
    margin-top: -12rem;
    height: 32vh;
}

.Feedback{
    display: flex;
    justify-content: space-between;
}

.redline{
    border-right: 1.6px solid #AD6C1E;
    padding:20px;
    height: 9.6rem;
    z-index:2;
}

.info{
    z-index:2;
    padding-left:0.8rem;
}

.infoimage{
    display: flex;
    justify-content:flex-start;
}

.infoimage img{
    height: 4rem;
    padding-right: 0.8rem;
}

.infoimage p{
    color: #343131;
}

.infotext{
    font-size: 12px;
    padding-bottom: 0.8rem;
}

.CarouselButtons{
    margin-top: 1rem;
    padding-bottom: 3.2rem;
}

.Cbs img{
    width: 8rem;
}

/* Seventh Section */
.SeventhSection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../image/1x/SeventhSection/Bg.png");
    background-repeat: no-repeat;
    height: 8vh;
    width: 100%;
    top:0;
    left:0;
    background-size: cover;
}

.SeventhSection img{
    height: 6vh;
}

/* 品牌优势 */
#品牌优势{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    height: 95vh;
}

#品牌优势 p{
    color:#666666;
    z-index:2;
    font-size: 12px;
}

#品牌优势 > p{
    color: #3a3737;
    margin-top: -0.5rem;
    margin-bottom: 9rem;
}

#品牌优势 h1{
    margin-top: 0.8rem;
    font-size: 2.4rem;
}


#品牌优势 img{
    z-index:0;
}

#DotWorldMap{
    height: 32rem;
    margin-top: -17rem;
    margin-bottom: -20rem;
}

.advContainer{
    display: flex;
    gap: 4rem;
    margin-top: -1rem;
}

.advantage {
    
}

.advantage h3{
    color: #AD6C1E;
    font-size: 0.85rem;
    font-weight: bold;
}

.advantage p{
    color: #242323;
    font-weight: bold;
}

.gradient-line2{
    width: 22.4rem; 
    height: 0.8px; 
    background: linear-gradient(to right, #726c6c, #cccccc, transparent);
}

#movetop{
    margin-top: -15rem;
}

.Component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
}



.movebottom{
    margin-top: 18rem;
}

/* Footer */
footer{
    background-color: #242424;
    height: 38vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer p{
    color: white;
    font-size: 12px;
}

footer h4{
    font-size: 13px;
}

.social-media-layout{
    display: flex;
    gap: 1.25rem;
}

.social-media-layout img{
    height: 1.12rem;
    margin-bottom: 1.12rem;
}

.footer-columne{
    margin-top: -4rem;
    display: flex;
    flex-direction: column;

}

.footer-columne h4{
    color: white;
    margin-bottom: 1.6rem;
}

.footer-columne p{
    margin-bottom: 0;
}

#movebottom2{
    margin-top: 10rem;
}

/* #arrange1{
    margin-top: -rem;
} */

#arrange2{
    height: 1.6rem;
}

#arrange3{
    margin-top: 0.45rem;
}

#movebottom3{
    margin-top: -4rem;
}

#咨询{
    height: 3rem;
}
